/* Add your styles here */

.popup-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.popup-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  width: 400px;
}

.messages-container {
  display: flex;
  flex-direction: column;
}

.message-bubble-user {
  background-color: rgb(0, 132, 255);
  color: white;
  border-radius: 10px 10px 0 10px;
  padding: 10px;
  margin: 5px;
  max-width: 200px;
  align-self: flex-end;
}

.message-bubble-bot {
  background-color: rgb(242, 244, 246);
  color: black;
  border-radius: 10px 10px 10px 0;
  padding: 10px;
  margin: 5px;
  max-width: 200px;
}

.message-input {
  width: 92%;
  padding: 10px;
  border: 1px solid rgb(0, 132, 255);
  border-radius: 5px;
  margin-top: 10px;
  width: 378px;
}
